{% extends "otrender/home.html" %}
{% block content %}
<div style = "width: 100%;height:50%; overflow: scroll;">
<div style= "float:  left;"id = "dateschangeblock">
<h1 style="font-size: 125%;">Date Change  *(MM/DD/YYYY)</h1>
<form method="post">
    {% csrf_token %}
    {{ dateform }}
    <button type="submit" name="dateAddButton">Add Date</button>


  </form>
  {% for date in dateslist %}
  <div style = "overflow: hidden;" >
  <p style = "float: left">{{ date.date |date:'N d/Y'}}</p>
  <a style = "float:left" href="/otrender/deleteDate/{{date.id}}">Delete</a>
  </div>
  {% endfor %}
</div>
<div style="float: right;" id = "timeschangeblock">
    <h1 style="font-size: 125%;">Time Change *(24:00 hour format)</h1>
    <form method="post">
        {% csrf_token %}
        {{ timeform }}
        <button type="submit" name="timeAddButton">Add Time</button>
      </form>
      {% for time in timeslist %}
      <div style = "overflow: hidden;" >
      <p style = "float: left">{{ time |date:'G:i'}}</p>
      <a style = "float:left" href="/otrender/deleteTime/{{time.id}}">Delete</a>
      </div>
      {% endfor %}
  
    </div>
</div>
<hr>
<form method="post">
    {% csrf_token %}
    {{ generateForm }}
    <button type="submit" name="generationButton">Generate timetables for all students</button>
    <p>{{generationErrorMessage}}</p>
</form>
    <hr>
    <p>Render timetables</p>
    <form method="post">
        {% csrf_token %}
        {{ renderform }}
        <button type="submit" name="renderform">Render</button>
        
    </form>
    {% for session in rendersessions %}

        <p>{{ session.sessiontimedate.date }} - {{ session.time }}</p>
    <hr>   
    {% endfor %}
    
      



{% endblock %}
