{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'otrender/style.css' %}">
    </head>
    <body>
        <div id = "header">
            {% if user.is_authenticated %}
            <a style = "color: white; margin-left: 20px; float: left;" class="nav-link" href="{% url 'logout' %}">Logout</a>
            <a style= "color: white;  margin-left: 10px; float: left;" class="nav-link" href="" >Welcome, {{user.username}}</a>
            <a style= "color: white;  margin-right: 10px; float: right;" href = "{% url 'changePassword' %}">Change password</a>   
            {% endif %}

            {% if user.is_admin %}
            <a style= "color: white;  margin-right: 10px; float: right;" href = "{% url 'changeSchedule' %}">Schedule settings</a>
        
            {% endif %}

            <a href = "{% url 'renderTimes' %}">
                <h1 style = "color: white; margin-left: 10%; float: left;">1-2-1 Scheduler</h1>
            </a>
        </div>        
        <div id="content">            
            {% block content %}
            {% endblock %}
        </div>
        <div id = "footer"><img style = "height: 70%; margin-top: 5px;" src="{% static 'otrender/images/logo_white.png' %}"></div>
    </body>
</html>
